@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --default-font-family: var(--font-display);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.65rem;

  --background: oklch(0.98 0.01 270);
  --foreground: oklch(0.15 0.01 270);

  --card: oklch(0.97 0.005 270);
  --card-foreground: oklch(0.15 0.01 270);

  --popover: oklch(0.98 0.01 270);
  --popover-foreground: oklch(0.15 0.01 270);

  --primary: oklch(0.45 0.22 265);
  --primary-foreground: oklch(0.98 0.005 270);

  --secondary: oklch(0.85 0.03 295);
  --secondary-foreground: oklch(0.15 0.01 270);

  --muted: oklch(0.93 0.01 280);
  --muted-foreground: oklch(0.4 0.02 275);

  --accent: oklch(0.9 0.02 290);
  --accent-foreground: oklch(0.2 0.015 280);

  --destructive: oklch(0.5 0.25 25);
  --border: oklch(0.85 0.01 270);
  --input: oklch(0.92 0.008 270);
  --ring: oklch(0.45 0.22 265);

  --chart-1: oklch(0.65 0.2 45);
  --chart-2: oklch(0.6 0.14 190);
  --chart-3: oklch(0.42 0.09 230);
  --chart-4: oklch(0.82 0.18 90);
  --chart-5: oklch(0.78 0.18 65);

  --sidebar: oklch(0.96 0.005 270);
  --sidebar-foreground: oklch(0.15 0.01 270);
  --sidebar-primary: oklch(0.45 0.22 265);
  --sidebar-primary-foreground: oklch(0.98 0.005 270);
  --sidebar-accent: oklch(0.85 0.03 295);
  --sidebar-accent-foreground: oklch(0.15 0.01 270);
  --sidebar-border: oklch(0.85 0.01 270);
  --sidebar-ring: oklch(0.45 0.22 265);

  --font-display: "Roboto", sans-serif;
}

.dark {
  --background: oklch(0.12 0.01 270);
  --foreground: oklch(0.98 0.01 270);
  --card: oklch(0.18 0.01 275);
  --card-foreground: oklch(0.98 0.01 270);
  --popover: oklch(0.18 0.01 275);
  --popover-foreground: oklch(0.98 0.01 270);
  --primary: oklch(0.6 0.22 265);
  --primary-foreground: oklch(0.2 0.02 270);
  --secondary: oklch(0.3 0.015 285);
  --secondary-foreground: oklch(0.95 0.01 270);
  --muted: oklch(0.25 0.01 285);
  --muted-foreground: oklch(0.7 0.02 285);
  --accent: oklch(0.3 0.015 285);
  --accent-foreground: oklch(0.98 0.01 270);
  --destructive: oklch(0.6 0.23 25);
  --border: oklch(0.4 0.01 270 / 40%);
  --input: oklch(0.3 0.01 270 / 30%);
  --ring: oklch(0.6 0.22 265);
  --chart-1: oklch(0.55 0.22 264);
  --chart-2: oklch(0.7 0.18 160);
  --chart-3: oklch(0.75 0.18 70);
  --chart-4: oklch(0.65 0.26 300);
  --chart-5: oklch(0.63 0.25 20);
  --sidebar: oklch(0.18 0.01 275);
  --sidebar-foreground: oklch(0.98 0.01 270);
  --sidebar-primary: oklch(0.6 0.22 265);
  --sidebar-primary-foreground: oklch(0.2 0.02 270);
  --sidebar-accent: oklch(0.3 0.015 285);
  --sidebar-accent-foreground: oklch(0.98 0.01 270);
  --sidebar-border: oklch(0.4 0.01 270 / 40%);
  --sidebar-ring: oklch(0.6 0.22 265);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}